body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.inline {
  float: left;
  display: inline-block;
}

.text {
  float: right;
  font: 50px "SourceHanSansJP-Bold";
  line-height: 180px
}