@import "nib"
@import "_variables"
@import "_util/mixin"
@import "_util/grid"

global-reset()

input, button
  margin: 0
  padding: 0
  &::-moz-focus-inner
    border: 0
    padding: 0

@font-face
  font-family: FontAwesome
  font-style: normal
  font-weight: normal
  src: url(font-icon-path + ".eot?v=#" + font-icon-version)
  src: url(font-icon-path + ".eot?#iefix&v=#" + font-icon-version) format("embedded-opentype"),
       url(font-icon-path + ".woff?v=#" + font-icon-version) format("woff"),
       url(font-icon-path + ".ttf?v=#" + font-icon-version) format("truetype"),
       url(font-icon-path + ".svg#fontawesomeregular?v=#" + font-icon-version) format("svg")

html, body, #container
  height: 500px;

body
  max-width: 100%
  margin: 0 0
  padding: 0 0
  background: color-background
  font: font-size font-sans
  -webkit-text-size-adjust: 100%

.outer
  clearfix()


.inner
  column(columns)

.left, .alignleft
  float: left

.right, .alignright
  float: right

.clear
  clear: both

#container
  position: relative

.mobile-nav-on
  overflow: hidden

#wrap
  height: 100%
  width: 100%
  position: absolute
  top: 0
  left: 0
  transition: 0.2s ease-out
  z-index: 1
  background: color-background
  .mobile-nav-on &
    left: mobile-nav-width

if sidebar and sidebar isnt bottom
  #main
    @media mq-normal
      column(main-column)

if sidebar is left
  @media mq-normal
    #main
      float: right

@import "_extend"
@import "_partial/header"
@import "_partial/article"
@import "_partial/comment"
@import "_partial/archive"
@import "_partial/footer"
@import "_partial/highlight"
@import "_partial/mobile"

if sidebar
  @import "_partial/sidebar"

.shop {
  background-color: #272822;
  color: #fbf9e2;
  box-sizing: inherit;
  width: 32%;
  padding: 10px 10px 30px 10px;
  display: inline-block;
}

.shop img {
  box-sizing: inherit;
  width: 100%;
}

.shop table {
  background-color: rgba(0,0,0,0.4);
  box-sizing: inherit;
  width: 100%;
  color: #fbf9e2;
  box-shadow: 0px .125em .25em rgba(0,0,0,.25);
}

.shop td {
  border: solid 0.5px #272822;  /* 枠線指定 */
  padding: 10px;      /* 余白指定 */
}

.del {
  color: #fc861e;
  text-decoration : line-through ;
}
.del span {
  color: #665852;
}

.slide-show {
  position: relative;
}

.slide-show p {
  width: 100%;
  line-height: 60px; 
  font-size: 36px;
  background-color: rgba(0,0,0,.3);
  text-align: center;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}
.slide-show img {
  width: 100%;
  }

table{
    width: 100%;
    background-color: #ffffff;
    height auto;
    margin: 15px auto 10px auto;
}

td {
    border: solid 0.5px;  /* 枠線指定 */
    padding: 10px;      /* 余白指定 */
}

.odd td {
    background: #ccc;
}

.post {
    position: relative;
    border-bottom: 2px solid #d0d5d8;
    padding: 5px;
    width: 48%;
    display: inline-block;  
}

.post:first-child {
    padding-top: 0;
}

.post .title {
    font-size: 14px;
    color: #e99130;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
    display: inline-block;
}

.post .content h6 {
    color: #fbf9e2;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 10px;
    font-weight: 700;
}

.post .content h6:focus {
    color: #e99130;
}

.post .date {
    color: #fbf9e2;
    margin-bottom: 0;
    line-height: 1;
}

.post:hover {
  background: rgba(0,0,0,0.5);  
}
.icon img {
    max-width: 28px;
}

.badge img {
  margin: 5px;
  max-width: 32px;
  opacity: 0.8;
}

.badge img:hover {
  opacity: 1;
  max-width: 35px;
  }
.news {
    float: left;
    background-color: #272822;
    position: relative;
    width: 45%;
    min-height: 1px;
    padding: 50px 20px 20px 20px;
}

.about{
  width: 49%;
  float: left;
  }

.about-content { 
  box-sizing: inherit;
  width: 100%;
  margin: 20px;
  padding: 20px;
  color:  #fbf9e2;
  background-color: rgba(0,0,0,0.5);
  // background-image: url("https://user-images.githubusercontent.com/38575274/46751773-731b7300-ccf6-11e8-98fd-5416c5258d20.png");
  }

.gallery h1,.about h1,.access h1,.news h1,.link-table h1 {
  text-align: center;
  color:#fbf9e2;
  font-size: 28px;
  padding-bottom: 20px;
  }

.gallery {
  min-height: 200px;

  }

.about p {
  opacity: 1;
  line-height: 200%;
  }



html,
body {
/*    margin: 0;*/
/*    overflow: scroll;*/
    width: 100%;
    height:100%;
}

#myCanvas {
    
    width: 100%;
    /* height : 100%; */
}

#canvas{
    display : block;
    justify-content: center;
    align-items: center;
}

.link-table {
  text-align: center;
  min-height: 300px;
  color: #fbf9e2;
  font-size: 18px;
  }
.link-table p:hover{
  color: #fd971f;
  }


// .link {
//   position: relative;
//   border: solid 0.5px #ffffff;
// }

// .link p {
//   font-size: 36px;
//   text-align: center;
//   position: absolute;
//   color: white;
//   top: 50%;
//   left: 50%;
//   -ms-transform: translate(-50%,-50%);
//   -webkit-transform: translate(-50%,-50%);
//   transform: translate(-50%,-50%);
//   margin:0;
//   padding:0;
// }

// .link img {
//   width: 100%;
//   height: 200px;

//   overflow: hidden;
//   }

.access{
  text-align: center;
  color: #fbf9e2;
  }


.line_bot{
  color: #ffffff;
  min-height: 200px;
  text-align: center;
  }

.square_btn{
    position: relative;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
    margin: 0.3em 1em;
    padding: 0.3em 1em;
    background: #000000;
    border-top: solid 3px #222222;
    border-bottom: solid 3px #222222;
    transition: .4s;
}

#event{
  margin-top: 10px;
  }

@media screen and (min-width: 500px) {
  .header_title {
    display: none; 
    }
}

@media screen and (max-width: 1050px) {
  .shop {
  width: 49.5%;
  }

  .not-display-mobile {
    display: none;  
  }
}

@media screen and (max-width: 500px) {
  .shop {
  box-sizing: inherit;
  width: 100%;
  padding: 10px;
  display: inline-block;
  }

  .post {
  width: 100%;
  }

  .about{
  width: 100%;
  overflow: hidden;
  }

  .about-content{
    margin: 0;
  }

  .slide-show p {
    font-size: 18px;
  }

  .link p {
    height: 30px;
    font-size: 15px;
  }

  .link {
  width:  33.33%;
  height 30px;
  overflow: hidden;
  }


  .news{
  padding: 10px;  
  width: 100%;
  }

  .post {
    line-height: 1.2;
    font-weight: 500;
  }

  body {
    padding:0;
  }
}
