@import "nib"
@import "_variables"
@import "_util/mixin"
@import "_util/grid"

global-reset()

input, button
  margin: 0
  padding: 0
  &::-moz-focus-inner
    border: 0
    padding: 0

@font-face
  font-family: FontAwesome
  font-style: normal
  font-weight: normal
  src: url(font-icon-path + ".eot?v=#" + font-icon-version)
  src: url(font-icon-path + ".eot?#iefix&v=#" + font-icon-version) format("embedded-opentype"),
       url(font-icon-path + ".woff?v=#" + font-icon-version) format("woff"),
       url(font-icon-path + ".ttf?v=#" + font-icon-version) format("truetype"),
       url(font-icon-path + ".svg#fontawesomeregular?v=#" + font-icon-version) format("svg")

html, body, #container
  height: 500px;

body
  max-width: (column-width + gutter-width) * columns + gutter-width
  margin: 0 auto
  padding: 0 gutter-width
  background: color-background
  font: font-size font-sans
  -webkit-text-size-adjust: 100%

.outer
  clearfix()


.inner
  column(columns)

.left, .alignleft
  float: left

.right, .alignright
  float: right

.clear
  clear: both

#container
  position: relative

.mobile-nav-on
  overflow: hidden

#wrap
  height: 100%
  width: 100%
  position: absolute
  top: 0
  left: 0
  transition: 0.2s ease-out
  z-index: 1
  background: color-background
  .mobile-nav-on &
    left: mobile-nav-width

if sidebar and sidebar isnt bottom
  #main
    @media mq-normal
      column(main-column)

if sidebar is left
  @media mq-normal
    #main
      float: right

@import "_extend"
@import "_partial/header"
@import "_partial/article"
@import "_partial/comment"
@import "_partial/archive"
@import "_partial/footer"
@import "_partial/highlight"
@import "_partial/mobile"

if sidebar
  @import "_partial/sidebar"

.shop {
  box-sizing: inherit;
  width: 49.5%;
  padding: 10px;
  display: inline-block;
}

.shop img {
  box-sizing: inherit;
  width: 100%;
}

.shop table {
  box-sizing: inherit;
  width: 100%;
}
.slide-show {
  position: relative;
}

.slide-show p {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}
.slide-show img {
  width: 100%;
  }

table{
    width: 100%;
    background-color: #ffffff;
    height auto;
    margin: 15px auto 10px auto;
}

td {
    border: solid 0.5px;  /* 枠線指定 */
    padding: 10px;      /* 余白指定 */
}

.odd td {
    background: #ccc;
}

.post {
    position: relative;
    border-right: 2px solid #d0d5d8;
    border-bottom: 2px solid #d0d5d8;
    padding: 5px 0;
    
}

.post:first-child {
    padding-top: 0;
}

.post .title {
    font-size: 14px;
    color: #ee002d;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
    display: inline-block;
}

.post .content h6 {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 10px;
    font-weight: 700;
}

.post .content h6:focus {
    color: #ee002d;
}

.post .date {
    margin-bottom: 0;
    line-height: 1;
}

.post img{
    max-width: 18px;
}

.news {
    background-color: #ffffff;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.news h1{
  font-size: 28px;
  }

@media screen and (max-width: 500px) {
  .shop {
  box-sizing: inherit;
  width: 100%;
  padding: 10px;
  display: inline-block;
  }
}

@media screen and (min-width: 500px) {
  .header_title {
    display: none; 
    }

  .post {
    width 49.5%;
    display: inline-block;
  }

}

html,
body {
    margin: 0;
    overflow: scroll;
    width: 100%;
    height:100%;
}

#myCanvas {
    
    width: 100%;
    /* height : 100%; */
}

#canvas{
    display : block;
    justify-content: center;
    align-items: center;
}


