@import "nib"
@import "_variables"
@import "_util/mixin"
@import "_util/grid"

global-reset()

input, button
  margin: 0
  padding: 0
  &::-moz-focus-inner
    border: 0
    padding: 0

@font-face
  font-family: FontAwesome
  font-style: normal
  font-weight: normal
  src: url(font-icon-path + ".eot?v=#" + font-icon-version)
  src: url(font-icon-path + ".eot?#iefix&v=#" + font-icon-version) format("embedded-opentype"),
       url(font-icon-path + ".woff?v=#" + font-icon-version) format("woff"),
       url(font-icon-path + ".ttf?v=#" + font-icon-version) format("truetype"),
       url(font-icon-path + ".svg#fontawesomeregular?v=#" + font-icon-version) format("svg")

html, body, #container
  height: 500px;

body
  max-width: 100%
  margin: 0 0
  padding: 0 0
  background: color-background
  font: font-size font-sans
  -webkit-text-size-adjust: 100%

.outer
  clearfix()

main
  margin-top: 10vh;

#index
  top: -10vh;    

.inner
  column(columns)

.left, .alignleft
  float: left

.right, .alignright
  float: right

.clear
  clear: both

#container
  position: relative

.mobile-nav-on
  overflow: hidden

#wrap
  height: 100%
  width: 100%
  position: absolute
  top: 0
  left: 0
  transition: 0.2s ease-out
  z-index: 1
  background: color-background
  .mobile-nav-on &
    left: mobile-nav-width

#event
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;

if sidebar and sidebar isnt bottom
  #main
    @media mq-normal
      column(main-column)

if sidebar is left
  @media mq-normal
    #main
      float: right

@import "_extend"
@import "_partial/header"
@import "_partial/article"
@import "_partial/comment"
@import "_partial/archive"
@import "_partial/footer"
@import "_partial/highlight"
@import "_partial/mobile"

if sidebar
  @import "_partial/sidebar"


.shop-box {
  display: inline-block;
}

.shop {
  background-color: #272822;
  color: #fbf9e2;
  width: 400px;
  margin: 5px 5px 30px 5px;
  text-align: center;
}

.shop-image img{
  max-width: 100%;
  height: 250px;
  object-fit: contain;
}

.shop table {
  background-color: rgba(0,0,0,0.4);
  box-sizing: inherit;
  width: 100%;
  color: #fbf9e2;
  box-shadow: 0px .125em .25em rgba(0,0,0,.25);
}

.shop td {
  border: solid 0.5px #272822;  /* 枠線指定 */
  padding: 10px;      /* 余白指定 */
}

.shops {
  text-align: center;  
}

.filter-block {
  text-align: center;  
}





.del {
  color: #fc861e;
  text-decoration : line-through ;
}
.del span {
  color: #665852;
}

.slide-show {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.slide-show p {
  width: 100%;
  line-height: 60px; 
  font-size: 36px;
  background-color: rgba(0,0,0,.3);
  text-align: center;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}
.slide-show img {
  width: 100%;
  }

table{
    width: 100%;
    background-color: #ffffff;
    height auto;
    margin: 15px auto 10px auto;
}

td {
    border: solid 0.5px;  /* 枠線指定 */
    padding: 10px;      /* 余白指定 */
}

.odd td {
    background: #ccc;
}

.post {
    position: relative;
    border-bottom: 2px solid #d0d5d8;
    padding: 5px;
    width: 48%;
    display: inline-block;  
}

.post:first-child {
    padding-top: 0;
}
.news .info {
  color:#EEEEEE;
  opacity: 0.8;
  }
.post .title {
    font-size: 14px;
    color: #e99130;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
    display: inline-block;
}

.post .content h6 {
    color: #fbf9e2;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 10px;
    font-weight: 700;
}

.post .content h6:focus {
    color: #e99130;
}

.post .date {
    color: #fbf9e2;
    margin-bottom: 0;
    line-height: 1;
}

.post:hover {
  background: rgba(0,0,0,0.5);  
}
.icon img {
    max-width: 28px;
}

.badge img {
  margin: 5px;
  max-width: 32px;
  opacity: 0.8;
}

.badge img:hover {
  opacity: 1;
  max-width: 35px;
  }
.news {
    float: left;
    background-color: #272822;
    position: relative;
    width: 45%;
    min-height: 1px;
    padding: 50px 20px 20px 20px;
}

.about{
  width: 49%;
  float: left;
  }

.about-content { 
  box-sizing: inherit;
  width: 100%;
  margin: 20px;
  padding: 20px;
  color:  #fbf9e2;
  background-color: rgba(0,0,0,0.5);
  // background-image: url("https://user-images.githubusercontent.com/38575274/46751773-731b7300-ccf6-11e8-98fd-5416c5258d20.png");
  }

.gallery h1,.about h1,.access h1,.news h1,.link-table h1 {
  text-align: center;
  color:#fbf9e2;
  font-size: 28px;
  padding-bottom: 20px;
  }

.gallery {
  min-height: 200px;

  }

.about p {
  opacity: 1;
  line-height: 200%;
  }



html,
body {
/*    margin: 0;*/
/*    overflow: scroll;*/
    width: 100%;
    height:100%;
}

#myCanvas {
    
    width: 100%;
    /* height : 100%; */
}

#canvas{
    display : block;
    justify-content: center;
    align-items: center;
}

.mapdata{
  color: #fbf9e2;
  text-align : center;
  background:#272822;
}

.mapdata h1{
    font-size: 250%;
    text-align: left;
    padding-left: 4%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 1%;
    border-bottom: solid 1px #fd971f;
}
.mapdata h3{
  font-size:200%;
  margin :20px;
}
.mapdata h4{
  font-size:150%;
  margin-bottom :5px;
  margin-top: 5px;
}
.mapdata #infotxt{
  font-size:120%;
  margin-top : 10px;
  margin-bottom : 10px;
}

.mapdata #_infotxt{
  font-size:100%;
  margin-bottom:10px;
}
.mapdata .pin{
  margin-top:10px;
}
.mapdata .shop{
    background-color: #272822;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    padding: 10px 10px 30px 10px;
    display: inline-block;
}
.mapdata .labotxt{
  margin: 30px;
  font-size: 173%;
}
.mapdata ._labotxt2{
  margin-bottom: 30px;
}


.link-table {
  text-align: center;
  min-height: 300px;
  color: #fbf9e2;
  font-size: 18px;
  }
.link-table p:hover{
  color: #fd971f;
  }


// .link {
//   position: relative;
//   border: solid 0.5px #ffffff;
// }

// .link p {
//   font-size: 36px;
//   text-align: center;
//   position: absolute;
//   color: white;
//   top: 50%;
//   left: 50%;
//   -ms-transform: translate(-50%,-50%);
//   -webkit-transform: translate(-50%,-50%);
//   transform: translate(-50%,-50%);
//   margin:0;
//   padding:0;
// }

// .link img {
//   width: 100%;
//   height: 200px;

//   overflow: hidden;
//   }

.access{
  text-align: center;
  color: #fbf9e2;
  }


.line_bot{
  background: #272822;
  color : #fbf9e2;
  min-height: 200px;
  padding: 10px;
  text-align:left;
}




.line_bot .map {
    padding:3%;
    text-align:center;
    margin:3%;
    font-weight: bold;
    color:  #272822;/*文字色*/
    background: #fff9ff;
    border: solid 3px #00b900;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.square_btn{
    position: relative;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
    margin: 0.3em 1em;
    padding: 0.3em 1em;
    background: #000000;
    border-top: solid 3px #222222;
    border-bottom: solid 3px #222222;
    transition: .4s;
}

#event{
  margin-top: 10px;
  }
  
/*Checkboxes styles*/
.categories-box{
  padding-top: 5px; 
  display: inline-block;
  background-color: rgba(0,0,0,.3); 
}

.categories-box h1{
  font-size: 12px;
  color: #fbf9e2;
  text-align: left;
}

.categories{
  margin-right: 30px;
  padding: 5px;
  display: inline-block;
}


.sub-categories{
  margin-left: 2px;
  margin-right: 0;
  padding: 5px;
}



#Booth .boxes {
  padding: 5px;
  background: #484848;
}

#Booth input[type="checkbox"] { display: none; }

#Booth input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 2px;
  font: 17px/20px 'Open Sans', Arial, sans-serif;
  color: #ddd;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.sub-categories #Booth input[type="checkbox"] + label {
  font-size: 12px;
}

#Booth input[type="checkbox"] + label:last-child { margin-bottom: 0; }

#Booth input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #fd971f;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

#Booth input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#Booth li{
  text-align: left;
  padding: 2px;
}



@media screen and (min-width: 500px) {
  .header_title {
    display: none; 
  }
  .lineat{
    width:200px;
    padding-top:20px;
    padding-left:50px;
    padding-bottom:5px;
  }
  .line_bot img{
    width: 200px;
    margin-bottom:3%;
  }
  .line_bot .qr,.line_bot .top{
    width : 150px;
  }
  .line_bot .friend{
    width: 116px;
  }
  .line_bot h2 span,.line_bot h4 span{
      position: relative;
      display: inline-block;
      font-size : 200%;
      padding: 0 0.8em;
  }
  .line_bot h4 {
    margin-top:50px;
    padding-left:17%;
  }
  .line_bot h2 span::before,.line_bot h4 span::before{
      position: absolute;
      content: '';
      top:0;
      right:0.2em;
      width: 0.2em;
      height:100%;
      border: solid 1px #fbf9e2;
      border-left: none;
  }
  
  .line_bot h2 span::after,.line_bot h4 span::after{
      position: absolute;
      content: '';
      top:0;
      left:0;
      width: 0.2em;
      height:100%;
      border: solid 1px  #fbf9e2;
      border-right: none;
  }
  .line_bot .registration{
    display:flex;
    justify-content: space-between;
  }
  .line_bot .regitxtContainer1{
    width:50%;
    text-align : center;
  }
  .line_bot .regitxtContainer2{
    width:50%;
    display:flex;
    text-align : center;
  }
  .line_bot .regipic{
    width:50%;
    padding-left: 10%;    
  }
  .line_bot .regitxtqr{
    width:40%;
  }
  
  .line_bot .regitxt{
    padding-top:5%;
    font-size:140%;
  }
  .line_bot .functionContainers1{
    display:flex;
    justify-content: space-between;
  }
  .line_bot .functionContainers2,.line_bot .functionContainers3{
    display:flex;
    justify-content: space-between;
  }
  .line_bot .functionContainer1{
    width : 50%;
    margin-left:30px;
    margin-right:30px;
    border-bottom:1px solid #00b900;
  }
  .line_bot .functionContainer1_x{
    width : 50%;
    margin-left:30px;
    margin-right:30px;
  }
  .line_bot .functionContainer2{
    width: 57.7%;
    text-align:center;
    border-left: 1px solid #00b900;
  }
  .line_bot h3, .line_bot ._functxt2{
    text-align: center;
    padding-top: 3%;
    font-size : 120%;
    padding-bottom : 1%;
  }
  .line_bot .functxt{
    text-align:center;
    padding-top: 2%;
    padding-bottom:6%;
  }
  .line_bot .functxt2{
    padding-top: 2%;
    padding-bottom:6%;
    margin-left:30px;
    margin-right:30px;
    text-align:center;
  }
  .line_bot .functxt3{
    text-align:center;
    padding-top: 2%;
    padding-bottom:6%;
    margin-left:30px;
    margin-right:30px;
    border-bottom:1px solid #00b900;
  }
}

@media screen and (max-width: 1050px) {
 

  .not-display-mobile {
    display: none;  
  }
}

@media screen and (max-width: 500px) {
  .shop-box {
  display: block;
  }
  .shop {
  margin: 10px 0;
  width: 100%;
  text-align: center;
  }

  .shop-image img{
  object-fit: cover;
  width: 100%;
  height: auto;
  }

  .shop table {
  width: 100%;
}
  .post {
  width: 100%;
  }

  .about{
  width: 100%;
  overflow: hidden;
  }

  .about-content{
    margin: 0;
  }

  .slide-show {
    position: relative;
    heigt: auto;  
  }
  .slide-show img{
    display: none;
    position: absolute;
    height: 100vh;
    width: auto;
  }
  .slide-show p {
    font-size: 18px;
  }

  .link p {
    height: 30px;
    font-size: 15px;
  }

  .link {
  width:  33.33%;
  height 30px;
  overflow: hidden;
  }


  .news{
  padding: 10px;  
  width: 100%;
  }

  .post {
    line-height: 1.2;
    font-weight: 500;
  }

  body {
    padding:0;
  }

  .lineat{
    text-align:left;
    padding-top:20px;
    padding-left:8%;
    padding-bottom:5px;
  }
  .line_bot .registration{
    text-align:center;
  }
  .line_bot .regitxt{
    padding:3%;
  }
  .line_bot img{
    width: 40%;
    margin-bottom:3%;
  }
  .line_bot .qr{
    margin-top:10px;
  }
  .line_bot .friend{
    width: 116px;
  }
  .line_bot h2 ,.line_bot h4{
    font-size: 180%;
    padding: .3em;
    border-bottom: 2px solid #00b900;
    text-align:center;
  }
  .line_bot .regitxt{
    padding-top : 5%;
    font-size:105%;
  }
  .line_bot h3 {
    text-align:left;
    margin-left:2%;
    margin-right:5%;
    font-size : 120%;
    padding-left:3%;
    padding-bottom : 1%;
    border-bottom : 1px dotted #00b900;
    border-left: 5px solid #00b900;
  }
  .line_bot .functxt, .line_bot .functxt3,.line_bot .functxt2,.line_bot ._functxt2{
    text-align:center;
    padding-top : 5%;
    padding-bottom : 10%;
  }
}

