#footer
  background: color-footer-background
  padding: 20px 0
  border-top: 1px solid color-border
  color: color-grey
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  line-height: line-height
  font-size: 0.85em
  
.footer-link
  display: flex
  justify-content: flex-end;
  //margin-left: 90% 
  opacity: 0.6
  text-shadow: 0 1px rgba(0, 0, 0, 0.2)
  transition: opacity 0.2s
  padding: 2px 10px 0 0
  font-weight: 400
  &:hover
    opacity: 1
    color: #e99130
 
