<nav id="mobile-nav">
  <a href="/"><img src="https://user-images.githubusercontent.com/38575274/46932183-75305980-d089-11e8-89a0-e79688fcdd2d.png"></a>
  <% for (var i in theme.menu){ %>
    <a href="<%- url_for(theme.menu[i]) %>" class="mobile-nav-link"><%= i %></a>
  <% } %>
</nav>