<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
  </head>
  <body>
    <canvas width="960" height="500" id="tempChart"></canvas>
  </body>
</html>