<!DOCTYPE html>
<html>
    <head>
        <title>Event Counter</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script>
            setTimeout("location.reload()",5000);
        </script>
    </head>
    <body>
        <div class="text">
            <img class="inline" src="https://pbs.twimg.com/media/DpifGcFV4AAH-Of.jpg" width="20%" height="20%">
            <p class="inline">ただいまのGood!数は　{{count}}</p>
        </div>
      </body>
</html>