
<section id="access">
    <header>
       
    </header>
	<div class="access">
		<h1>アクセス</h1>
		<h2>周辺地図</h2>
		<p><img class="aligncenter size-full wp-image-505 tmp_off" src="https://user-images.githubusercontent.com/28770698/46122739-71ad6d80-c255-11e8-96f6-d5aba0c54607.gif" alt="" width="450" height="321" /></p>
		<p>京王線「狭間」駅(準特急停車)下車　徒歩5分<br />
		京王線「めじろ台」駅(準特急停車)下車　徒歩15分 または タクシー5分</p>

		<!-- <h1>リンク</h1>
		<ul class="objectlink">
			<li><a href="https://www.tokyo-ct.ac.jp/">東京高専（外部リンク）</a></li>
			<li><a href="http://www.tokyo-ct-s.jp/">東京高専後援会（外部リンク）</a></li>
			<li><a href="http://www.kosen-k.go.jp/">国立高等専門学校機構（外部リンク）</a></li>
		</ul> -->
	</div>
</section>
