<section id="event">
    <header>
       
    </header>
    <div class="slide-show w3-content w3-display-container">
        <p>体育館前</p>
        <img class="mySlides" src="https://user-images.githubusercontent.com/38575274/44301309-a8878e00-a34f-11e8-971c-fde728bb12ba.jpg">
        <img class="mySlides" src="https://user-images.githubusercontent.com/38575274/44301310-a8878e00-a34f-11e8-8ee0-ba6ba791c3bd.jpg">
        <img class="mySlides" src="https://user-images.githubusercontent.com/38575274/44301311-a8878e00-a34f-11e8-8ce6-7328bdde6fce.jpg">
        
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
    
    </div>

    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
        showDivs(slideIndex += n);
        }
        

        function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) {slideIndex = 1}    
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
        }
        x[slideIndex-1].style.display = "block";  
        }
    </script>
    <div>
   </div>



    
    <% var gym1 =[
    {
        "Start_Time": "17:30",
        "End_Time":  "18:30",
        "name":"sakakendo",
        "from":"けいおん部"
    },
    {
        "Start_Time": "19:30",
        "End_Time":  "20:30",
        "name":"HIROHIRO",
        "from":"漁師部"
    }
]%>

     <div class="w3-card">
     <div style="height: 400px;"> 
           <div style="height: 400px;">     
                <font size="5"><h1>第一体育館前</h1></font>
                <table  style=" margin-left:auto; margin-right:auto;">
                        <tr>
                                <th>開始時間</th>
                                <th>終了時間</th>  
                                <th>名前</th>
                                <th>所属</th>
                        </tr>
                    <% for (var i = 0; i < 2; i++) { %>
                        <font size="4">
                            <tr align="center">
                                <td><%- gym1[i].Start_Time%></td>
                                <td><%- gym1[i].End_Time%></td>
                                <td><%- gym1[i].name %></td>
                                <td><%- gym1[i].from %></td>
                             </tr>
                        </font>
                    <% } %>
                </table>
            </div>
    </div>
    </div>

</section>
