<section id="event">
    <script>   
    </script>
    <div class="event">
        <div align="center">
            <button id="sche20" class="w3-button w3-black">20</button>
            <button id="sche21" class="w3-button w3-black">21</button>
        </div>
    </div>
    <div class="w3-content" id="skeduler-container"></div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>    

    <%- js('skeduler/jquery-2.2.4.min') %>  
    <%- js('skeduler/jquery.skeduler') %>
    <%- css('skeduler/jquery.skeduler') %>

    <%- js('skeduler/skeduler') %>  
</section>