<section id="event">
    
    <div class="w3-content pink">
        <button id="sche20" class="pink">20日</button>
        <button id="sche21" class="pink">21日</button>
    </div>
    
    <div class="w3-content" id="skeduler-container"></div>
    <%- js('skeduler/jquery-2.2.4.min') %>
    <%- js('skeduler/jquery.skeduler') %>
    <%- css('skeduler/jquery.skeduler') %>
    <%- js('skeduler/skeduler') %>  
    
</section>