<div class="gallery">
    <div class="w3-container">
        <div class="w3-card"><img src="/data/模擬店/4Eだんご.png"></div>
        <div class="w3-card"><img src="/data/模擬店/2年専攻科ちぢみ.png"></div>
        <div class="w3-card"><img src="/data/模擬店/農林クレープ.PNG"></div>
        <div class="w3-card"><img src="/data/模擬店/硬式野球ラーメン.PNG"></div>
        <div class="w3-card"><img src="/data/模擬店/2Cパンケーキ.PNG"></div>
        <div class="w3-card"><img src="/data/模擬店/4Mお好み焼き.PNG"></div>
        <div class="w3-card"><img src="/data/模擬店/自動車今川焼.png"></div>
        <div class="w3-card"><img src="/data/模擬店/3Dフルーツサンド.jpg"></div>
        <div class="w3-card"><img src="/data/模擬店/5C炒飯店.png"></div>
        <div class="w3-card"><img src="/data/模擬店/水泳部焼きそば.jpg"></div>
        <div class="w3-card"><img src="/data/模擬店/ハンドボール部わらび餅(sized).jpg"></div>
        <div class="w3-card"><img src="/data/模擬店/バレー部.jpg"></div>
        <div class="w3-card"><img src="/data/模擬店/サッカー部.jpg"></div>
        <div class="w3-card"><img src="/data/模擬店/フットサルパスタポッキー.jpg"></div>
        <div class="w3-card"><img src="/data/模擬店/手話タピオカ.PNG"></div>
        <div class="w3-card"><img src="/data/模擬店/2D芋.png"></div>
        <div class="w3-card"><img src="/data/模擬店/男子バスケ牛串.PNG"></div>
        <div class="w3-card"><img src="/data/模擬店/4Jチョコバナナ.png"></div>
        <div class="w3-card"><img src="/data/模擬店/バドミントンチュロス.PNG"></div>
        <div class="w3-card"><img src="/data/模擬店/C科飲み物.jpg"></div>
        <div class="w3-card"><img src="/data/模擬店/寮生餃子.JPG"></div>
        <div class="w3-card"><img src="/data/模擬店/陸上部フランクフルト.PNG"></div>
        <div class="w3-card"><img src="/data/模擬店/硬式テニス焼き鳥.png"></div>
        <div class="w3-card"><img src="/data/模擬店/科学部けんちん汁.png"></div>
        <div class="w3-card"><img src="/data/photo/21ADAB6D-F364-4F0E-96B6-8DAAED75A739.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/E03AEA2A-CD1A-4315-8BB8-2E66927FE470.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/F30A2451-808D-4B64-B8DC-C2F4796033BF.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/42A2862C-B135-48B9-B5F7-C32CD360810C.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/8683007D-0CEF-4A8E-9FF4-1D430C8F863C.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/4517EEB3-53E4-403B-A79B-62CF3631DAC8.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/B96F47FC-B809-4697-952C-66ABC3A61F8F.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/3F03645A-ADE0-4CE6-9405-22959ADD1C6A.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/FE934DF4-12FB-4FF9-A056-C7955737D36D.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/IMG_2141.JPG                             "></div>
        <div class="w3-card"><img src="/data/photo/66324AB5-9E3B-40E9-90C4-7221F90F125C.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/45676FA3-F739-442A-9C07-85E41B37CC7D.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/766365A0-865C-4331-9142-EF5317045EF5.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/IMG_2570.JPG                             "></div>
        <div class="w3-card"><img src="/data/photo/30DD4051-61E7-4758-A93A-374B31C8BA16.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/4D89375C-32E9-40C5-ADF9-1AACB49D0F60.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/C0DE12E0-5E50-471F-B7AB-047246C62126.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/E7A523C4-97B5-43E5-A0EE-49B4DF052A06.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/1777F631-9B76-4AF1-A3DE-059FA6DD670E.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/3ECDCFD4-7C18-45B8-9805-5E2CE2D8F1EC.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/A268A13C-701E-4581-A7B6-FA0847A0C7B3.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/DF32D089-1B01-4911-8E87-CBB46DAC1BD3.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/F1CF2555-A68E-419B-B5ED-75AC712B055E.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/21DC488E-07E6-4862-84D8-BA15B32F18D4.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/8F1208F1-7727-4DB6-B3D5-234D85EF8BB9.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/2F572C0D-2AAF-45A5-874F-D2AA26ECF862.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/2435975A-9736-4645-98E6-A3EC63D423DB.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/DBDFB259-7CBB-46C9-A30C-C989D41E8781.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/7D549835-B257-4004-963F-38038E2F270F.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/22C0E662-8459-41CB-9982-63C4B3269BD3.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/A58806EB-7D08-41FB-8438-FE1DE3472D52.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/88F4971D-3DC1-47D7-B112-76D3AB0237BC.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/9903B336-C466-4F82-8EEF-24AA24ACEF51.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/93773AED-C844-45A0-BCBE-F57E7D4E635A.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/DCFAD37F-B814-4A4F-A7A5-84D5732B7722.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/1566359E-081C-4909-83EF-A3FE8084FCF6.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/7FBE1F4C-1647-49B5-88C7-72BFFEE870A6.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/957CF704-180B-4F6B-A573-BB69B9178E03.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/D8E41C88-0D77-43F6-802C-2D46BE4CC5BD.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/311C38C6-77E4-4256-A8D9-9CADCC7164B8.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/9F5D06AB-C995-4050-AAAC-62C1778D1117.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/33C53484-901E-45B6-9F39-72050CF8AF98.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/IMG_2481.JPG                             "></div>
        <div class="w3-card"><img src="/data/photo/D5D9C8C6-B75B-46D5-82BE-1587F92C35F8.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/569799FD-969A-41C1-A86A-57501BD576B0.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/A49CBE31-F54E-44EC-AA3C-EC9DFA021341.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/F99289D8-3A4E-4B64-814D-8092EA068E7E.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/7A50109F-7A86-48C8-9AD7-48764C71E346.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/BCE7A12C-943C-4ECF-9711-548C07CB62F8.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/D6AF2F59-2C7E-4806-82BC-4D9B524A3087.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/CD84D035-E58C-411B-BB44-BF2675C4A6C8.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/055BC22E-9647-4239-9E84-09499044BAB3.jpeg"></div>
        <div class="w3-card"><img src="/data/photo/E0E04ECC-37E4-4970-A6F0-B8D61361A9A4.jpeg"></div>
    </div>
</div>

<!-- 
<h1>gallery ejs</h1>
<div class="flex-images">
    <div class="item" data-w="200" data-h="150"><img src="/data/public/photo_club/P8060390.JPG"></div>
    <div class="item" data-w="250" data-h="150"><img src="/data/public/photo_club/IMGP0006.JPG"></div>
</div>
<link rel="stylesheet" type="text/css" href="/css/jquery.flex-images.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/jquery.flex-images.min.js"></script>
<script type="text/javascript">
    $('.flex-images').flexImages({rowHeight: 140});
</script> -->
