<div class="slide-show">
    <p class="txt">くぬぎだ祭<br>10月20,21日開催</p>
    <p class="txt">EVENTS</p>
    <p class="txt">BOOTH</p>
    <a href="/"><img class="mySlides" src="/banner_gear_silver.png"></a>
    <a href="/event"><img class="mySlides" src="/img/icon_event.png"></a>
    <a href="/mogi-shop"><img class="mySlides" src="/img/icon_booth.png"></a>

    <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
    <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>

<script>

    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }
    function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    var y = document.getElementsByClassName("txt");
    if (n > x.length) {slideIndex = 1}    
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length ; i++) {
        x[i].style.display = "none";
        y[i].style.display = "none";
    }
    x[slideIndex-1].style.display = "block";
    y[slideIndex-1].style.display = "block"; 
    }
    //get loadtime
    function getNow() {
        function to_string(d) {
            return (d < 10) ? '0' + d.toString() : d.toString();
        }
        var date = new Date();
        var now = `${to_string(date.getDay())}/${date.getHours()}:${date.getMinutes()}`
        console.log(now);
        return now;
    }

    //cat future data
    function catData(now) {
        for (var i = 0; i < data.length && i < 5; i++) {
            if (data[i].time <= now) break;
        }
        return i;
    }
    
    // //sort data
    // data.sort(function (a, b) {
    //     if (a.time > b.time) {
    //         return -1;
    //     }
    //     if (a.time < b.time) {
    //         return 1;
    //     }
    //     // names must be equal
    //     return 0;
    // });
</script>
<div id="news" class="news">
    <script> $(function(){ $('#news').load('/data/views/news.html'); }); </script>
</div>
<div class="about">
    <div class="about-content w3-round-large">
    <h1>椚田祭とは</h1>
    <%- partial('about', {pagination: 2, index: true}) %>
    </div>
</div>
<div class="">
    <!-- <p>
        <div class="w3-third link">
            <img src="https://raw.githubusercontent.com/teamET/2018.perform/develop/static/themes/landscape/source/img/icon_map.png">
            <p>
                <a href="/map">Map</a>
            </p>
        </div>
        <div class="w3-third link">
            <img src="https://raw.githubusercontent.com/teamET/2018.perform/develop/static/themes/landscape/source/img/icon_about.png">
            <p>
                <a href="/gallery">Photo</a>
            </p>
        </div>
        <div class="w3-third link">
            <img src="https://raw.githubusercontent.com/teamET/2018.perform/develop/static/themes/landscape/source/img/icon_booth.png">
            <p>
                <a href="/mogi-shop">Booth</a>
            </p>
        </div>
    </p>
    <div class="w3-third link">
        <img src="https://raw.githubusercontent.com/teamET/2018.perform/develop/static/themes/landscape/source/img/icon_event.png">
        <p>
            <a href="/event">Event</a>
        </p>
    </div>
    <div class="w3-third link">
        <img src="https://raw.githubusercontent.com/teamET/2018.perform/develop/static/themes/landscape/source/img/icon_link.png">
        <p>
            <a href="">Link</a>
        </p>
    </div>
    <div class="w3-third link">
        <img src="https://raw.githubusercontent.com/teamET/2018.perform/develop/static/themes/landscape/source/img/icon_access.png">
        <p>
            <a href="">Access</a>
        </p>
    </div> -->
</div>
