<style>
    @media (max-width: 500px){
        img{
            width : 80%;
        }
    }
</style>

<script src="/js/lineat.js" ></script>
<div class="w3-content line_bot">
    <p id = "mapinfo"></p>
    <p id = "thisinfo">LINE@登録用サイト[工事中]<br></p>
    @developers 開発中のため登録は控えて下さい。<br>
    QRコード<br>
    <img src="http://qr-official.line.me/L/0o4Bcz38gq.png"><br>
    <a href="https://line.me/R/ti/p/%40wey0128f"><img height="36" border="0" alt="友だち追加" src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png"></a><br>
</div>