
<style>
    
    .w3-content.line_bot{
        background: #ffffff;
        color : #000000;
    }
    @media (max-width: 500px){
        h2 {
            padding: .5em;
            border-top: 2px solid #00b900;
            border-bottom: 2px solid #00b900;
        }
        .qr{
            width: 50%;
        }
    }
    
</style>

<script src="/js/lineat.js" ></script>
<div class="w3-content line_bot">
    <div class="map">
        <p id = "mapinfo"></p>
        <h2>LINE@登録用サイト</h2>
    </div>
    <div class ="specification">
        <h2>主な機能</h2><br>
        <h3>文化祭運営側からのメッセージの送信</h3>
        リアルタイムにメッセージを送信します。
        <h3>近くの模擬店一覧表示</h3>
        あなたの近くにある模擬店を表示します。
        団体名・値段・食べ物等の詳細が表示されます。
        <h3>エリアのお知らせの送信</h3>
        特定のエリアの人にお知らせをします。
        <h3>詳細MAP</h3>
        学校の詳細MAPと、模擬店の情報を表示します。
        <h3>意見箱</h3>
        お問い合わせフォームに移動します。
        <h3>「いいね！」ボタン＠体育館</h3>
        体育館に入ると「いいね！」ボタンが出現します。<br>
        ボタンを押した回数をイベントで表示します。
    </div>
    <div class = "registration">
        登録はこちらから！<br>
        @developers 開発中のため登録は控えて下さい。<br>
        <a href="https://line.me/R/ti/p/%40wey0128f"><img height="36" border="0" alt="友だち追加" src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png"></a><br>
        QRコード<br>
        <img src="http://qr-official.line.me/L/0o4Bcz38gq.png" class="qr"><br>
        
    </div>
</div>