
<script src="/js/lineat.js" ></script>

<img src="/img/LINE@_typeA.png" width="50%" height="50%" class="lineat">        
<div class="line_bot">
    <p id = "mapinfo">
        
    </p>

    <div class = "registration">
        <div class = "regitxtContainer1">
                <h2><span>東京高専文化祭公式LINE<br></span></h2>
                <div class="regitxt">
                東京高専文化祭の公式LINEを作成しました<br>
                リアルタイムで詳細な情報を取得できます<br>
                登録はこちらから！<br>
                </div>
            </div>
        <div class = "regitxtContainer2">
                <img onclick="line();" height="36" border="0" alt="友だち追加" src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png">
                <div class="regitxtqr">
                        QRコード<br>
                <img src="http://qr-official.line.me/L/0o4Bcz38gq.png" class="qr"><br>
                </div>
        </div>
    </div>
    <div class ="function">
        <h4><span>主な機能</span></h4><br>
        <div class = "functionContainers1">
            <div class = "functionContainer1">
                    <h3>1．文化祭運営側からのメッセージの送信</h3>
                    <div class="functxt">リアルタイムにメッセージを送信します。</div>
            </div>
            <div class = "functionContainer2">            
                <h3>2．近くの模擬店一覧表示</h3>
                <div class="functxt">あなたの近くにある模擬店を表示します。<br>                    団体名・値段・食べ物等の詳細が表示されます。</div>
            </div>
        </div>
        <div class = "functionContainers2">
            <div class = "functionContainer1">            
                <h3>3．エリアのお知らせの送信</h3>
                <div class="functxt">特定のエリアの人にお知らせをします。</div>
            </div>
            <div class = "functionContainer2">                        
                <h3>4．詳細MAP</h3>
                <div class="functxt">学校の詳細MAPと、模擬店の情報を表示します。</div>
            </div>
        </div>
        <div class = "functionContainers3">
            <div class = "functionContainer1">                        
            <h3>5．意見箱</h3>
            <div class="functxt">お問い合わせフォームに移動します。</div>
            </div>
            <div class = "functionContainer2">                        
            <h3>6．「いいね！」ボタン＠体育館</h3>
            <div class="functxt">体育館に入ると「いいね！」ボタンが出現します。<br>
            ボタンを押した回数をイベントで表示します。</div>
            </div>
        </div>
    </div>
</div>