
<script src="/js/lineat.js" ></script>

<img src="/img/LINE@_typeA.png" width="50%" height="50%" class="lineat">        
<div class="line_bot">
    <p id = "mapinfo">
        
    </p>

    <div class = "registration">
        <div class = "regitxtContainer1">
                <h2><span>くぬぎだ祭公式LINE<br></span></h2>
                <div class="regitxt">
                東京高専文化祭「くぬぎだ祭」の公式LINEです！<br>
                リアルタイムで詳細な情報をお届けします<br>
                登録はこちらからどうぞ！<br>
                </div>
            </div>
        <div class = "regitxtContainer2">
                <div class="regipic">
                <img class="top" src="/img/line_pic/lineTop.png" width="150"><br>                
                <img class="friend" onclick="line();" height="36" border="0" alt="友だち追加" src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png">
                </div>
                <div class="regitxtqr">
                    QRコードはこちら<br>
                <img src="http://qr-official.line.me/L/0o4Bcz38gq.png" class="qr"><br>
                </div>
        </div>
    </div>
    <div class ="function">
        <h4><span>主な機能</span></h4><br>
        <div class = "functionContainers1">
            <div class = "functionContainer1">
                    <h3>1．くぬぎだ祭運営側からのメッセージ</h3>
                    <div class="functxt">運営からのお知らせや、<br>
                        緊急メッセージをお届けします。<br>
                        また、あなたがいる各エリアの情報もお届けします。</div>
            </div>
            <div class = "functionContainer2">
                <h3>2．近くの模擬店一覧表示</h3>
                <div class="functxt3">
                    <img src="/img/line_pic/line_rich_mogi.jpg" width="150"><br>
                    近くにある模擬店を一覧表示します。<br> 
                    店名や値段・売っている物の詳細がわかります。
                </div>
            </div>
        </div>
        <div class = "functionContainers2">
            <div class = "functionContainer1">
                <h3>3．詳細MAP</h3>
                <div class="functxt">
                    <img src="/img/line_pic/line_rich_map.jpg" width="150"><br>
                    画像の詳細マップを表示します。<br>
                    行きたいところをタップすると、<br>模擬店・アトラクションの情報が表示されます。
                </div>
            </div>
            <div class = "functionContainer2">                        
                <h3>4．「Good!」ボタン@体育館</h3>
                <div class="functxt3">
                    <img src="/img/line_pic/line_rich_good.jpg" width="150"><br>
                    体育館に入ると「Good!」ボタンが出現します。<br>
                    出し物が「Good!」と思ったら押しまくってください！<br>
                    2日間で合計何カウントまでいけるでしょう？
                </div>
            </div>
        </div>
        <div class = "functionContainers3">
            <div class = "functionContainer1_x">                        
            <h3>5．写真送信機能（仮）</h3>
            <div class="functxt2">あなたの撮影した写真が椚田祭HPに載る！？（仮）</div>
            </div>
            <div class = "functionContainer2">                        
            <h3>6．意見箱</h3>
            <div class="functxt2">
                <img src="/img/line_pic/line_rich_kanso.jpg" width="150"><br>
                ご意見・ご感想はこちらからどうぞ！<br>
                来年の活動力になります。
            </div>
            </div>
        </div>
    </div>
</div>