<section id="event">
    <header>
    </header>
    <div class="w3-content">
        <p><a href="https://www.tokyo-ct.ac.jp/">東京高専公式HP</a></p>
        <p><a href="https://tokyo-ct-s.jp/">東京高専後援会</a></p>
        <p><a href="">東京高専twitter</a></p>
    </div>
</section>