<style>
html,body {
	margin: 0;
	overflow: scroll;
	width: 100%;
	height:100%;
}

#myCanvas {
/*	width: 100%;*/
	height : 100%;
}

#canvas{
	display : block;
	justify-content: center;
	align-items: center;
}
</style>
<div id = "_wrap">
    <canvas id = "myCanvas"> </canvas>
</div>
<script src="/js/map.js" ></script>
<h1 id = "info">information</h1>
<p id = "shopname">shopname</p>
<p id = "price">price</p>
