<style>
html,body {
	margin: 0;
	overflow: scroll;
	width: 100%;
	height:100%;
}


#myCanvas {
	width: 100%;
	/* height : 100%; */
}

/*
#canvas{
	display : block;
	justify-content: center;
	align-items: center;
}
*/
</style>
<canvas id = "myCanvas"> </canvas>
<script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
<script src="/js/map.js" ></script>
<div class="shop">
	<h1 id = "info">info</h1> 
	<p id = "pin">pinID</p>
	<p id = "boothdata">shopdata</p>
	<p id = "price">price</p>
</div>