<style>
html,body {
	margin: 0;
	overflow: scroll;
	width: 100%;
	height:100%;
}


#myCanvas {
	width: 100%;
	/* height : 100%; */
}

/*
#canvas{
	display : block;
	justify-content: center;
	align-items: center;
}
*/
.w3-button.w3-black{
	margin-left : 3%;
	margin-top:15px;
	margin-bottom: 15px;
	font-size:105%;
}
.w3-container{
	background: #272822;
}
.w3-button.w3-display-topright{
	background: #FFF;
}
.LocationNone{
	margin :20px;
	font-size : 105%;
}
</style>
<script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
<script src="/js/map.js" ></script>
<div class="w3-container">
	<button onclick="document.getElementById('button').style.display='block'" class="w3-button w3-black">
		<p id="buttontxt">使い方を表示</p>
	</button>
	<div id="button" class="w3-modal">
	  <div class="w3-modal-content">
		<div class="w3-container">
		  <span onclick="document.getElementById('button').style.display='none'" class="w3-button w3-display-topright">&times;</span>
		  <div  class="mapdata" >
			<h1>Information</h1>
			<p id = "infotxt">
			</p>
			<p id = "boothdata"></p>
			</div>
		</div>
	  </div>
	</div>
</div>

<canvas id = "myCanvas"> </canvas>
