<section id="mogi-shop">
    <header> </header>
    <input class="w3-input w3-border w3-padding" type="text" placeholder="Search for names.." id="search_shop_input" onkeyup="search_shop()">
    <div id="booth"> </div>
    <script> $(function(){ $('#booth').load('/data/views/shop.html'); }); </script>
   <script>
        function search_shop() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("search_shop_input");
            filter = input.value.toUpperCase();
            table = document.getElementById("search_shop_table");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
</section>
