<section id="mogi-shop">
    <header>
        
    </header>
    
    <% var shops =[
        {
            "class": "4J",
            "title": "chocobanana",
            "item": [{
                "name": "banana",
                "place": 200
            },{
                "name": "banana2",
                "place": 300
            }]
        },{
            "class": "3J",
            "title":  "taiyaki",
            "item": [{
                "name": "kasuta-do",
                "place": 200,
            },{
                "name": "anco",
                "place": 200
            }]
        }
    ]%>
    <input class="w3-input w3-border w3-padding" type="text" placeholder="Search for names.." id="search_shop_input" onkeyup="search_shop()">
    <% for(var i=0 ; i < 2 ; i += 1 ) {%>
        <div class="w3-half" style="display: block;">
            <img class="w3-margin w3-circle" src="https://avatars0.githubusercontent.com/u/28134110?s=200&v=4">
            <table class="w3-table w3-white" style="width: 250px; display: block" id="search_shop_table">
                <p><%= shops[i].class %>&nbsp;<%= shops[i].title %></p>
                <tr>
                    <th>item</th>
                    <th>price</th>
                </tr>
                <% shops[i].item.forEach(function(item){ %>
                <tr>
                        <td><%= item.name %></td>
                        <td><%= item.place %></td>
                </tr>
                <% }); %>
            </table>
        </div>
    <% } %>
    
    <script>
        function search_shop() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("search_shop_input");
            filter = input.value.toUpperCase();
            table = document.getElementById("search_shop_table");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
                } else {
                tr[i].style.display = "none";
                }
            }
            }
        }
    </script>
</section>

          