<section id="mogi-shop">
    <header> </header>
    <div clas="tab" align="center">
        <button class="tablinks w3-btn w3-black" onclick="chview(event,'Booth')">Booth</button>
        <button class="tablinks w3-btn w3-black" onclick="chview(event,'Lab')">Lab</button>
    </div>
    <div id="Booth" class="tabcontent">
        <div id="booth"></div>
        <script> $(function(){ $('#booth').load('/data/views/shop.html'); }); </script>
    </div>
    <div id="Lab" class="tabcontent">
        <table class="w3-table-all w3-centered w3-hoverable">
            <tbody>
                <tr>
                    <th>内容</th>
                    <th>実施場所</th>
                    <th>時間</th>
                </tr>
                <tr><td><a href='/map?booth=212'>化学おもしろ実験</a></td><td>2105分析・無機化学実験室</td><td>10:00～16:00</td></tr>
                <tr><td><a href='/map?booth=211'>ドライアイスを作ってみよう</a></td><td>2108多目的実験室</td><td>10：00～16：00</td></tr>
                <tr><td><a href='/map?booth=321'>びっくりケミストリー</a></td><td>2205 1年1組教室</td><td>9:30～16:00（開始時刻から終了時刻まで）</td></tr>
                <tr><td><a href='/map?booth=312'>光の万華鏡</a></td><td>3101　物理実験室</td><td>10:00-11:00</td></tr>
                <tr><td><a href='/map?booth=311'>音と光で遊ぼう</a></td><td>3102　応用物理実験室</td><td>11:00-12:00</td></tr>
                <tr><td><a href='/map?booth=322'>高く舞い上がるスーパー竹トンボを作ろう</a></td><td>3208・3223 多目的室</td><td>13:00-14:00</td></tr>
                <tr><td><a href='/map?booth=323'>ミニ工場をつくろう！</a></td><td>3201　第1創造工房</td><td>14:00-15:00</td></tr>
                <tr><td><a href='/map?booth=332'>楽しいハンダづけ工作</a></td><td>3302　電子デバイス実験室（電気工学科）</td><td>１２時?１４時３０分</td></tr>
                <tr><td><a href='/map?booth=331'>（仮）レゴ太陽光・風力発電の体験講座</a></td><td>3305　エネルギー環境実験室</td><td>10時か16時</td></tr>
                <tr><td><a href='/map'>研究室公開</a></td><td>3棟3階　各研究室</td><td></td></tr>
                <tr><td><a href='/map'>研究室公開</a></td><td>3棟4階　各研究室</td><td></td></tr>
                <tr><td><a href='/map?booth=344'>５年学生実験作品展示</a></td><td>3403　電子工学科実験室</td><td></td></tr>
                <tr><td><a href='/map?booth=342'>４Dプロジェクト演習（オリジナルゲーム機作品展示）</a></td><td>3406　専攻科多目的室</td><td></td></tr>
                <tr><td><a href='/map?booth=341'>はんだ付け体験教室（光はざまるバッジ製作） </a></td><td>3411　特別教室</td><td></td></tr>
                <tr><td><a href='/map?booth=343'>永井研究室卒業研究、脳波関連実験展示 永吉研究室卒研（物性関連）展示</a></td><td>3421　多目的室</td><td></td></tr>
                <tr><td><a href='/map?booth=511'>機械工学科の卒研展示（仮）</a></td><td>4105　自学自習室</td><td></td></tr>
                <tr><td><a href='/map'>情報工学科説明会</a></td><td>7102</td><td>終日</td></tr>
                <tr><td><a href='/map'>足し算器の製作</a></td><td>7203　情報工学実験室</td><td></td></tr>
                <tr><td><a href='/map'>研究室公開</a></td><td>7306</td><td>終日</td></tr>
                <tr><td><a href='/map'>風に向かって走るウィンドカーを作ろう</a></td><td>7308</td><td></td></tr>
                <tr><td><a href='/map'>暗号の仕組みを知ろう</a></td><td>7308</td><td></td></tr>
                <tr><td><a href='/map'>研究室公開</a></td><td>7408</td><td>10:00-12:00</td></tr>
                <tr><td><a href='/map'>研究室公開</a></td><td>7棟5階</td><td>終日</td></tr>
                <tr><td><a href='/map?booth=811'>学校説明会</a></td><td>8101</td><td>1200-13:00</td></tr>
                <tr><td><a href='/map?booth=821'>高専生と話そう</a></td><td>8301</td><td>13:00-15:00</td></tr>
                <tr><td><a href='/map'>個別相談会</a></td><td>8401</td><td>終日</td></tr>
                <tr><td><a href='/map'>3Dプリンタを体験しよう</a></td><td>ものづくり教育センター</td><td>終日</td></tr>
                <tr><td><a href='/map'>★レーザー加工機でドアネームプレートを作ろう★</a></td><td>ものづくり教育センター</td><td>10:00-15:00</td></tr>
                </tbody>
        </table>
    </div>
    <script>
        var _showCategories = function(item) {
            for (var x = 0; x < item.length; ++x) {
                $(item[x]).fadeIn();
            }
        };
        var categories = [],
        resources = [],
        initial = "";
        categories[0] = "#label0";
        categories[1] = "#label1";
        categories[2] = "#label2";
        categories[3] = "#label3";
        categories[4] = "#label4";
        categories[5] = "#label5";
        categories[6] = "#label6";
        categories[7] = "#label7";
        categories[8] = "#label8";
        categories[9] = "#label9";
        categories[10] = "#label10";
        categories[11] = "#label11";
        categories[12] = "#label12";
        categories[13] = "#label13";

        $('div.tags').find('input[type="checkbox"]').click(function() {
        resources = [];
        initial = "";
        if ($('div.tags.categories input[type="checkbox"]:checked').length > 0) {
            $('.results shop').hide();
            
            $('.topics input[type="checkbox"]').removeAttr('disabled');
            
        
            $('div.tags').find('input:checked').each(function() {
            if (($.inArray($(this).attr('rel'), resources)) === -1) {
                resources.push($(this).attr('rel'));
            }
            
            
            initial = resources.toString();
            initial = initial.replace(/,/g, '.');
            });    
            
            for (var i = 0; i < categories.length; ++i) {
            if ($(categories[i] + " .results > shop." + initial).length != 0) {
                $(".results > shop." + initial).show('fast');
                $(categories[i]).fadeIn('fast');
            } else {
                $(categories[i]).fadeOut('fast');
            }
            }
        } else {
            
            $('.topics input[type="checkbox"]').attr('disabled', 'disabled');
            $('.results > shop').fadeIn('fast');
            _showCategories(categories);
        }
        });
        function search_shop() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("search_shop_input");
            filter = input.value.toUpperCase();
            table = document.getElementById("search_shop_table");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
        function chview(event,view){
            var i,tabcontent,tablinks;
            tabcontent=document.getElementsByClassName("tabcontent");
            for(i=0;i<tabcontent.length;i++){
                tabcontent[i].style.display="none";
            }
            tablinks=document.getElementsByClassName("tablinks");
            for(i=0;i<tablinks.lenght;i++){
                tablinks[i].className=tablinks[i].className.replace(" active","");
            }
            document.getElementById(view).style.display="block";
            event.currentTarget.className+=" active";
        }
        chview(event,'Booth')
    </script>
    <style>
        <!--
            .tab{overflow: hidden;border: 1px solid #ccc;background-color:#f1f1f1;}
            .tab button {background-color: inherit;float: left;border:none;
                outline: none;cursor: pointer;padding: 14px 16px;transition: 0.3s;}
            .tab button:hover {background-color: #ddd;}
            .tab button.active {background-color: #ccc;}
            .tabcontent {display: none;padding: 6px 12px;border: 1px solid #ccc;border-top: none;  }
            -->
    </style>
</section>
