
    <div class="w3-half" style="display: block;">
        <img class="w3-margin w3-circle" src="https://avatars0.githubusercontent.com/u/28134110?s=200&v=4">
        <table class="w3-table w3-white" style="width: 250px; display: block" id="search_shop_table">
            <p>class&nbsp;shopname</p>
            <tr>
                <th>item</th>
                <th>price</th>
            </tr>
            
            <tr>
                    <td>name</td>
                    <td>price</td>
            </tr>
            
        </table>
    </div>

    <div class="w3-half" style="display: block;">
        <img class="w3-margin w3-circle" src="https://avatars0.githubusercontent.com/u/28134110?s=200&v=4">
        <table class="w3-table w3-white" style="width: 250px; display: block" id="search_shop_table">
            <p>class&nbsp;test</p>
            <tr>
                <th>item</th>
                <th>price</th>
            </tr>
            
            <tr>
                    <td>name</td>
                    <td>price</td>
            </tr>
            
            <tr>
                    <td>choco</td>
                    <td>350</td>
            </tr>
            
        </table>
    </div>

    <div class="w3-half" style="display: block;">
        <img class="w3-margin w3-circle" src="https://avatars0.githubusercontent.com/u/28134110?s=200&v=4">
        <table class="w3-table w3-white" style="width: 250px; display: block" id="search_shop_table">
            <p>class&nbsp;test1</p>
            <tr>
                <th>item</th>
                <th>price</th>
            </tr>
            
            <tr>
                    <td>name</td>
                    <td>price</td>
            </tr>
            
            <tr>
                    <td>milkchoco</td>
                    <td>700</td>
            </tr>
            
            <tr>
                    <td>banana</td>
                    <td>120</td>
            </tr>
            
        </table>
    </div>
