<table  style=" margin-left:auto; margin-right:auto;">
        <tr>
            <th>開始時間</th>
            <th>終了時間</th>  
            <th>名前</th>
            <th>所属</th>
        </tr>
    
        <font size="4">
            <tr align="center">
                <td>10:00</td>
                <td>11:00</td>
                <td>name</td>
                <td>brassband</td>
             </tr>
        </font>
    
        <font size="4">
            <tr align="center">
                <td>11:00</td>
                <td>12:00</td>
                <td>name2</td>
                <td>けいおん</td>
             </tr>
        </font>
    
</table>