<h1>TOP NEWS</h1>
<% function LoadNewsTime(diff) {
    function to_string(d) {
	return (d < 10) ? '0' + d.toString() : d.toString();
    }
    var date = new Date();
	var loadTime = `2018/10/${to_string(date.getDay())}/${date.getHours()}:${date.getMinutes()-diff}:00`
    return loadTime;
}%>
<% var count = 0; %>
<% var Timeten = LoadNewsTime(10) %>
<% var Time = LoadNewsTime(0) %>
<% for ( var i = 0; i < data.length && count < 4 ; i+=1 ) { %>
	<% if( data[i].time <= Timeten ){ %>
		<% count += 1; %>
		<div class="post icon">
			<% if( data[i].end_time == "-1" ) { %>
				<p class="info"></p>
			<% } else if ( Time <= data[i].time ){ %>
				<p class="info">もうすぐ始まります！</p>
			<% } else { %>
				<p class="info">開催中</p>
			<% } %>
			<%if( LoadNewsTime(0) <= data[i].time ){ %>
				<img src="https://png.icons8.com/ios/50/ffffff/new-filled.png">
			<% } %>
			<a href="/event" class="title"><%= data[i].from %></a>
			<div class="post-meta">
				<a href="/event" class="content">
				<h6><%=data[i].content%></h6>
				</a>
				<p class="date"><span><%= data[i].date %></span>日 <span><%= data[i].start_time %></span></p>
			</div>
		</div>
  	<% } %>
<% } %>
